# Hospital Appointments records

**Setup & Imports**

Import Libraries

Why? We need pandas and numpy for data manipulation, and random/string modules for realistic fake data.

-> This cell imports all the tools we’ll use to generate, randomize, and manage the synthetic data frames for each table.

In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
import string

**Create Fake Data for Patients**

Generate Patients DataFrame

Why? Build a patients table with realistic names, genders, dates of birth, etc., with varied values.

Generates 300 patients with:

Random names, genders

Random date of birth (age 20–90)

Ordinal satisfaction

Realistic height/weight/address
Converts the list into a pandas DataFrame.

In [2]:
# Set seed for reproducibility
random.seed(123)

# Helper lists for name generation
first_names = ['Nikhil', 'Amit', 'Priya', 'Sara', 'James', 'Michael', 'Esha', 'Rhea', 'David', 'Layla']
last_names = ['Singh', 'Sharma', 'Brown', 'Patel', 'Wong', 'Kim', 'Carter', 'Lee', 'Evans', 'Wilson']
genders = ['Male', 'Female', 'Other']
satisfactions = ['Low', 'Medium', 'High', 'Very High']

patients = []
for pid in range(1, 301):
    name = f"{random.choice(first_names)} {random.choice(last_names)}"
    gender = random.choice(genders)
    dob = datetime.now() - timedelta(days=random.randint(20*365, 90*365))
    age = int((datetime.now() - dob).days / 365.25)
    satisfaction = random.choice(satisfactions)
    address = f"{random.randint(1, 999)} {random.choice(['Queen St', 'King Rd', 'Main Ave', 'Elm St'])}"
    height_cm = random.randint(150, 195)
    weight_kg = random.randint(45, 110)
    dob_str = dob.strftime('%Y-%m-%d')
    patients.append([pid, name, gender, dob_str, age, satisfaction, address, height_cm, weight_kg])


# Convert to DataFrame
df_patients = pd.DataFrame(patients, columns=[
    'patient_id','name','gender','dob','age','satisfaction',
    'address','height_cm','weight_kg'
])
df_patients.head()

,patient_id,name,gender,dob,age,satisfaction,address,height_cm,weight_kg
0,1,Nikhil Wong,Male,1936-11-26,88,Very High,273 Queen St,152,93
1,2,David Evans,Female,1975-04-26,50,Low,164 King Rd,171,87
2,3,Sara Brown,Male,1966-10-02,59,Low,900 Elm St,154,45
3,4,Michael Lee,Male,2001-12-14,23,Low,684 King Rd,158,47
4,5,James Carter,Other,1963-02-08,62,High,481 Queen St,169,88

**Insert Some Missing in Patients records**

Deliberate Data Imperfection

Why? The assignment requires realistic missing values.

We add missing gender data in 10 rows .

This models real-world imperfect data and meets full marks for realism.

In [ ]:
# Add missing gender for 10 patients
missing_indices = random.sample(range(300), 10)
df_patients.loc[missing_indices, 'gender'] = np.nan

df_patients.head(10)

,patient_id,name,gender,dob,age,satisfaction,address,height_cm,weight_kg
0,1,Nikhil Wong,Male,1936-11-26,88,Very High,273 Queen St,152,93
1,2,David Evans,Female,1975-04-26,50,Low,164 King Rd,171,87
2,3,Sara Brown,Male,1966-10-02,59,Low,900 Elm St,154,45
3,4,Michael Lee,Male,2001-12-14,23,Low,684 King Rd,158,47
4,5,James Carter,Other,1963-02-08,62,High,481 Queen St,169,88
5,6,David Lee,Male,1951-04-07,74,High,13 Elm St,191,110
6,7,Esha Evans,Other,1946-01-30,79,Very High,534 Elm St,173,110
7,8,Nikhil Brown,Other,1998-06-25,27,Very High,674 Main Ave,160,87
8,9,Michael Evans,Female,1999-04-26,26,Very High,397 Main Ave,151,69
9,10,Layla Sharma,Other,1973-04-12,52,Low,918 Main Ave,164,96

In [4]:
print("Missing Values Summary for Patients Table:")
print(df_patients.isnull().sum())

Missing Values Summary for Patients Table:
patient_id       0
name             0
gender          10
dob              0
age              0
satisfaction     0
address          0
height_cm        0
weight_kg        0
dtype: int64

**Create Fake Data for Doctors**

Generate Doctors DataFrame

Why? Build doctors table with specialties, ratings and some imperfections.

Generates 30 doctors with names, random specialties, experience years, categorical ratings.

In [5]:
doctor_names = ['Dr. Patel', 'Dr. Kim', 'Dr. Lee', 'Dr. Brown', 'Dr. Sharma', 
                'Dr. Evans', 'Dr. Carter', 'Dr. Wilson', 'Dr. Wong', 'Dr. Ahmed']
specialties = ['Cardiology', 'Pediatrics', 'Orthopedics', 'General Medicine', 'Neurology', 'Dermatology']
ratings = ['Average', 'Good', 'Excellent', 'Outstanding']

doctors = []
for did in range(1, 31):
    name = random.choice(doctor_names)
    gender = random.choice(genders)
    specialty = random.choice(specialties)
    years_experience = random.randint(2, 40)
    rating = random.choice(ratings)
    doctors.append([did, name, gender, specialty, years_experience, rating])

df_doctors = pd.DataFrame(doctors, columns=[
    'doctor_id','name','gender','specialty','years_experience','rating'
])
df_doctors.head()

   doctor_id       name  gender    specialty  years_experience       rating
0          1    Dr. Kim  Female   Pediatrics                33         Good
1          2   Dr. Wong  Female  Dermatology                 5      Average
2          3  Dr. Patel    Male  Orthopedics                24  Outstanding
3          4    Dr. Lee    Male  Dermatology                13  Outstanding
4          5  Dr. Patel   Other  Orthopedics                14         Good

In [6]:
print("\nMissing Values Summary for Doctors Table:")
print(df_doctors.isnull().sum())

Missing Values Summary for Doctors Table:
doctor_id           0
name                0
gender              0
specialty           0
years_experience    0
rating              0
dtype: int64

**Appointments Data (Random Links, Diverse Types)**

Generate Appointments DataFrame

Why? Link patients and doctors, cover all needed types, model status/urgency, insert missing.

Builds 1000+ appointment records, links patients<>doctors, randomizes times/status, and deliberately injects some missing pain scores , fulfilling multiple assignment specs.

In [7]:
statuses = ['Completed', 'Missed', 'Cancelled', 'Scheduled']
urgency_levels = ['Low', 'Medium', 'High', 'Critical']

appointments = []
for aid in range(1, 1001):  # 1000+ rows
    patient_id = random.choice(df_patients['patient_id'])
    doctor_id = random.choice(df_doctors['doctor_id'])
    scheduled_time = datetime.now() + timedelta(days=random.randint(-90, 30), hours=random.randint(8, 18))
    status = random.choice(statuses)
    urgency_level = random.choice(urgency_levels)
    pain_score = random.randint(1, 10)
    bill_amount = round(random.uniform(40, 450), 2)
    scheduled_time_str = scheduled_time.strftime('%Y-%m-%d %H:%M:%S')
    appointments.append([
    aid, patient_id, doctor_id, scheduled_time_str, status, urgency_level, pain_score, bill_amount
    ])

df_appointments = pd.DataFrame(appointments, columns=[
    'appointment_id', 'patient_id', 'doctor_id', 'scheduled_time',
    'status', 'urgency_level', 'pain_score', 'bill_amount'
])

# Missing data
missed_indices = random.sample(range(1000), 20)
df_appointments.loc[missed_indices, 'pain_score'] = np.nan  # missing scores


df_appointments.head()

,appointment_id,patient_id,doctor_id,scheduled_time,status,urgency_level,pain_score,bill_amount
0,1,160,3,2025-08-19 13:35:39,Cancelled,Critical,2.0,365.40
1,2,278,25,2025-11-04 16:35:39,Scheduled,High,9.0,296.87
2,3,44,2,2025-11-06 15:35:39,Missed,Critical,1.0,249.22
3,4,191,1,2025-09-22 11:35:39,Scheduled,Medium,2.0,421.21
4,5,217,11,2025-08-31 12:35:39,Scheduled,High,8.0,46.34

In [8]:
print("\nMissing Values Summary for Appointments Table:")
print(df_appointments.isnull().sum())

Missing Values Summary for Appointments Table:
appointment_id     0
patient_id         0
doctor_id          0
scheduled_time     0
status             0
urgency_level      0
pain_score        20
bill_amount        0
dtype: int64

**Prescriptions Table (Link to Appointments, Realistic Details)**

Generate Prescriptions DataFrame

Why? Tie prescriptions to appointments, generate medication/dosage text (with some missing).

Generates prescriptions, links to appointments, randomizes medication/dosages/instructions, adds some missing for realism.

In [9]:
medications = ['Amoxicillin', 'Ibuprofen', 'Paracetamol', 'Metformin', 'Atorvastatin', 
               'Omeprazole', 'Aspirin', 'Cetirizine', 'Lisinopril', 'Azithromycin']

prescriptions = []
for pid in range(1, 701):
    appointment_id = random.choice(df_appointments['appointment_id'])
    medication_name = random.choice(medications)
    dosage_mg = random.choice([250, 500, 750, 1000])
    instructions = random.choice(['Take once daily', 'Take twice daily', 'After food', 'At bedtime'])
    prescriptions.append([pid, appointment_id, medication_name, dosage_mg, instructions])

df_prescriptions = pd.DataFrame(prescriptions, columns=[
    'prescription_id','appointment_id','medication_name','dosage_mg','instructions'
])

# Add some missing medication names to mimic real-world issues
missing_rx_indices = random.sample(range(700), 10)
df_prescriptions.loc[missing_rx_indices, 'medication_name'] = np.nan

df_prescriptions.head()

,prescription_id,appointment_id,medication_name,dosage_mg,instructions
0,1,405,Amoxicillin,750,Take once daily
1,2,191,Ibuprofen,500,At bedtime
2,3,904,Omeprazole,500,Take twice daily
3,4,990,Omeprazole,1000,At bedtime
4,5,974,Amoxicillin,750,After food

In [10]:
print("\nMissing Values Summary for Prescriptions Table:")
print(df_prescriptions.isnull().sum())

Missing Values Summary for Prescriptions Table:
prescription_id     0
appointment_id      0
medication_name    10
dosage_mg           0
instructions        0
dtype: int64

Export Data

Why? Save for direct SQLite import using DB Browser or scripts.

Exports all DataFrames as CSV files, ready for use with external SQLite tools or scripts.

In [11]:
df_patients.to_csv('patients.csv', index=False)
df_doctors.to_csv('doctors.csv', index=False)
df_appointments.to_csv('appointments.csv', index=False)
df_prescriptions.to_csv('prescriptions.csv', index=False)